.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.slider {
    width: 200px;
    margin-bottom: 20px;
}
#result {
    font-weight: bold;
    margin-top: 20px;
}