body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

#roll-call-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#roll-call-button:hover {
    background-color: #0056b3;
}

#random-name {
    font-size: 24px;
    text-align: center;
}