
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

header {
    background-color: #ffcc00;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ff6600;
}

header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #ff9966;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jokeDisplayArea {
    font-size: 1.5em;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

#getJokeButton {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #00cc66;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#getJokeButton:hover {
    background-color: #009944;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
