
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

#question-section {
    margin: 20px;
    text-align: center;
}

#answer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.answer-option {
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
}

#submit-button {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    padding: 10px 20px;
}

#submit-button:hover {
    background-color: #555;
}
